body {
    margin: auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url("foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    
    background: rgb(243, 240, 240);
    color: black;
    border-radius: 25px;
    width: 400px;
    margin:auto;
    box-shadow: 10px 5px 10px rgba(235, 235, 227, 0.329);
    font-size: 18px;
} 

h2 {
    color:black;
    text-align:center;
    font-weight: bold;
}

.caixa {
    margin: auto;
}

.seta {
    width: 25px;
}

.input-principal {
    font-weight: bold;
    line-height: 0px;
}

footer {
    font: normal 12pt Arial;
    color: rgb(3, 1, 1);
    text-align:center;
    font-style: inherit;
}

#div-botao {
    text-align: center;
    width: 100%;
}

#botao{
    text-align: center;
    width: 70%;
    background-color: blue;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
}

#res {
    text-align: center;
    font-weight: bold;
}


#foto {
    text-align: center;
    padding-bottom: 10px;
}

.rodape {
    text-align: center;
    background-color: black;
    position: absolute;
    bottom:0;
    width:100%;
    margin: auto auto;
    padding: 1em;
}

#github, #linkedin {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

#github:hover {
    color: blueviolet;
}
#linkedin:hover {
    color: rgb(130, 157, 231);
}

#botao:hover {
    background-color: black;
}

#pessoa:hover {
    background-color: rgb(172, 216, 216);
}

#nasc:hover {
    background-color: rgb(172, 216, 216);
}

@media screen and (max-width: 405px) {
    body {
        background-image: none;
        overflow: hidden;        
    }

    .rodape {
        display: none;
    }

    section {
        border-radius: 0%;
        height: 100vh;
    }

    #imagem {
        width: 80%;
    }

}
