body {
    margin: auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url("foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    color:white;
    text-align:center;
}

section {
    background: rgb(243, 240, 240);
    color: black;
    border-radius: 25px;
    width: 400px;
    margin:auto;
    box-shadow: 10px 5px 10px rgba(235, 235, 227, 0.329);
    font-size: 18px;
} 

.caixa {
    margin: auto;
}

.seta {
    width: 25px;
}

.input-principal {
    font-weight: bold;
    line-height: 0px;
}

.sexo {
    padding-bottom: 20px;
}



footer {
    font: normal 12pt Arial;
    color: rgb(3, 1, 1);
    text-align:center;
    font-style: inherit;
}

#div-botao {
    text-align: center;
    width: 100%;
}

#botao{
    width: 70%;
    background-color: blue;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    margin: 15px;
    padding: 5px;
}

#res {
    text-align: center;
}

#foto {
    text-align: center;
}

.rodape {
    text-align: center;
    background-color: black;
    position: absolute;
    bottom:0;
    width:100%;
    margin: auto auto;
    padding: 25px;
}

#github, #linkedin {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

#github:hover {
    color: blueviolet;
}
#linkedin:hover {
    color: rgb(130, 157, 231);
}